{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
  <div class="col-md-12"></div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1>New Genre</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <form action="#" method="post">
      <div class="form-group">
        <label class="margin-top" for="name">Name:</label>
        <input type="text" class="form-control margin-top" maxlength="100" name="name">
        <button type="submit" class="margin-top btn btn-default" id="submit" type="submit">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
